*.o
*.d
.clang
.cache
compile_commands.json
**tags**
*.db
*.nsdb
*.wal
*.bin
*.dat
*node_modules*
*dist*
history.txt
.idea
build
build_coverage
create
dlread
nspprint
walfprint
thread_pool
read
write
.gdbinit
*_example
gmon.out
*.gcda
*.gcno
*.gcov
docs/build/
.clangd

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.Python
vgcore.*
