pages:
  stage: deploy
  image: ruby:2.7
  script:
    - gem install jekyll bundler
    - bundle install
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  only:
    - master 
