name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake valgrind

      - name: Debug build
        run: make debug

      - name: Run tests in debug mode with Valgrind
        run: make valgrind-tests BUILD_MODE=Debug

      - name: Run tests in release mode with Valgrind
        run: make valgrind-tests BUILD_MODE=Release

      - name: Clean build
        run: make clean
